
.main-title {
  color: #0bdd1d;
  animation: mainTitle 1s linear infinite;
  -webkit-animation: mainTitle 1s linear infinite;
}

@keyframes mainTitle {
  50% {
    transform: scale(1.08, 1.08);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

@-webkit-keyframes mainTitle {
  50% {
    -webkit-transform: scale(1.08, 1.08);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
  }
}