.controls {
  width: 185px;
  height: 185px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;

  &__btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #111;
    color: #efefef;

    &--up {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    &--right {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &--down {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--left {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:focus {
      outline: none;
    }

    &:active {
      background: linear-gradient(#222, #333);
    }
  }
}