.container {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  text-align: center;
}

.screen {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #efefef;
  position: relative;

  &--title {
    padding-top: 100px;
  }
}

.options {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 50px;

  &--btn {
    display: block;
    margin: 0 auto;
    color: #efefef;
    border: none;
    background: transparent;
    font-family: inherit;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:hover {
      cursor: pointer;
      color: #0bdd1d;
    }
  }
}