* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 100px;
  font-family: 'Press Start 2P', cursive;
  background: #aaa;
}

@media (max-width: 420px) {
  body {
    padding-top: 30px;
  }
}