.options {
  &--settings {
    padding: 0;
    height: 55%;
  }

  &--option {
    margin-bottom: 25px;
    
    p {
      margin: 0 auto 15px auto;
      padding: 5px 4px;
      display: inline-block;

      &:focus {
        outline: none;
        padding: 4px 3px;
        border: 1px solid #fff;
      }
    }

    span {
      padding: 5px;

      &.selected {
        background-color: #efefef;
        color: #111;
      }

      &:hover {
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 420px) {
  .options--option {
    margin-bottom: 18px;

    p {
      margin-bottom: 7.5px;
    }
  }
}